include LICENSE
include README.md

# Exclude dev/test content from the sdist
prune tests
prune examples
prune docs
prune scripts
prune .github
prune logs
prune .env
prun .vscode/

# Ignore build/cache noise
recursive-exclude __pycache__ *
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude *.so *.dylib
